@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&display=swap');

body{
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin: 0px;
    h1{
        text-align: center;
        color: red;
        font-size: 40px;
    }
    h2{
        text-align: center;
        color: blue;
    }
}